.category-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.category {
	display: flex;
	width: 30%;
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid rgb(31, 31, 31);
	border-radius: 12px;
	box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
	cursor: pointer;
}

.image {
	width: 60px;
	height: 60px;
}

.text {
	align-self: center;
	margin-left: 20px;
}

.header,
.paragraph {
	margin-bottom: 20px;
}
