.question-name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 50px;
}

.question {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	width: 50%;
}

@media (max-width: 600px) {
	.question {
		width: 90%;
	}
}
