.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.category {
	margin-bottom: 20px;
	color: #4141c9;
	font-weight: bold;
	text-transform: uppercase;
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.question-number {
	margin-bottom: 10px;
	color: #4c4c4c;
	font-weight: bold;
}

.result-margin {
	padding-bottom: 200px;
}

@media (max-width: 600px) {
	.buttons {
		width: 90%;
	}
}

@media (max-width: 425px) {
	.result-margin {
		padding-bottom: 100px;
	}
}

@media (max-width: 375px) {
	.buttons {
		flex-direction: column;
	}
}
